<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <player>
    <position x="100" y="700" />
    <limits up="47" down="347" left="5" right="0" />
    <speed_x value="7" />
    <maxSpeed_y value="10"/>
    <player_size width="25" height="67" />
    <jump_force value="25" />
  </player>
  

</config>